{{!-- <div class="row">
    <div class="col l4 s4">
        <div class="container show-container">
            <img class="profile responsive-img" src="{{user.image}}" />
            <h5>{{user.username}}</h5>
            <h5>{{user.firstName}} {{user.lastName}}</h5>
            <h6>{{user.email}}</h6>
            <h6>{{user.phoneNumber}}</h6>

            <button class="btn">
                <a href="/users/{{user._id}}/properties">Properties</a>
            </button>
            <button class="btn">
                <a href="/users/{{user._id}}/leases">Leases</a>
            </button>
            <button class="btn">
                <a href="/users/{{user._id}}/edit">Edit Account</a>
            </button> --}}

            <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img class="responsive-img" src="https://images.unsplash.com/photo-1503990264798-c3f4cd657162?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ffa6c5bb5550761ee8d395fd9b05eb4a&auto=format&fit=crop&w=800&q=60">
      </div>
      <a href="/users/{{user.id}}"><img class="circle" src="{{user.image}}"></a>
      <a href="#!name"><span class="white-text name">{{user.firstName}} {{user.lastName}}</span></a>
      <a href="#!email"><span class="white-text email">{{user.email}}</span></a>
    </div></li>
    <li><a href="/users/{{user._id}}/properties">Properties</a></li>
    <li><a class="waves-effect" href="/users/{{user._id}}/leases">Leases</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/users/{{user._id}}/edit">Edit Profile</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </div>

    <div class="col l8 s8 container">
        <div class="property-index">
            
            <h4>{{user.username}}'s Properties</h4>
            

            {{#each user.properties}}
            <img class="responsive-img" src="{{homeImage}}" />
            <p>
                <a href="properties/{{id}}">{{address}}</a>
            </p>
            <p>{{price}}</p>
            {{/each}}

            <button class="btn">
                <a href="properties/new">Add a new property</a>
            </button>

            <button class="btn">
                <a href="/users/{{user._id}}">Back to user</a>
            </button>
        </div>



    </div>
</div>