<h1>{{user.username}}</h1>

<h2>Properties</h2>
{{#each properties}}
    <div>
        <img class="responsive-img" src="{{homeImage}}" />
        <p><a href="properties/{{id}}">{{address}}</a></p>
        <p>${{price}}</p>
        <p>Description: {{description}}</p>
    </div>
{{/each}}

<button class="btn"><a href="properties/new">Add a new property</a></button>

<button class="btn"><a href="/users/{{user._id}}">Back to user</a></button>