<h1>{{user.username}}</h1>

{{#each leases}}
<div>
    <p>{{property}}</p>
    <p><a href="leases/{{id}}">{{tenants}}</a></p>
    <p>{{rentDue}}</p>
    <p>{{rentPaid}}</p>
</div>
{{/each}}

<div>
    <button class="btn">
        <a href="/users/{{user._id}}">Back to user</a>
    </button>
</div>