<h1>{{user.username}}</h1>

{{#each leases}}
<div>
    {{#each property}}
    <img class="responsive-img" src="{{homeImage}}"/>
    <p><a href="properties/{{id}}">{{address}}</a></p>
    {{/each}}
    <p><a href="leases/{{id}}">{{tenants}}</a></p>
    <p>{{rentDue}}</p>
    <p>{{rentPaid}}</p>
</div>
{{/each}}

<div>
    <button class="btn">
        <a href="leases/new">Add New Lease</a>
    </button>
    <button class="btn">
        <a href="/users/{{user._id}}">Back to user</a>
    </button>
</div>