<h1>{{user.username}}</h1>

{{#each leases}}
<div>
    <img class="responsive-img" src="{{homeImage}}"/>
    <p><a href="leases/{{id}}">{{address}}</a></p>
    <p>Rent paid: ${{rentPaid}}</p>
</div>
{{/each}}

<div>
    <button class="btn">
        <a href="leases/new">Add New Lease</a>
    </button>
    <button class="btn">
        <a href="/users/{{user._id}}">Back to user</a>
    </button>
</div>