<h1>Users</h1>

{{#each users}}
<div>    
    <h2><a href="/users/{{_id}}">{{username}}</a></h2>
    <h4>{{firstName}} {{lastName}}</h4>
    <p>{{email}}</p>
    <p>{{phoneNumber}}</p>
    <img src="{{image}}"/>
    <h4>Properties</h4>
    {{#each properties}}
    <p>{{address}}</p>
    <p>{{landlord}}</p>
    <p>{{price}}</p>
    <p>{{description}}</p>
    {{/each}}
</div>

{{/each}}

<button class="btn"><a href="users/new">Create a new account</a></button>
<button class="btn"><a href="users/:id/edit">Edit Account</a></button>