<div class="row">
    <div class="col l4 s12 left-side-user-page">
        <div class="container show-container">
            <img class="profile responsive-img" src="{{user.image}}" />
            <h5>{{user.username}}</h5>
            <h5>{{user.firstName}} {{user.lastName}}</h5>
            <h6>{{user.email}}</h6>
            <h6>{{user.phoneNumber}}</h6>

            <button class="btn">
                <a href="/users/{{user._id}}/properties">Properties</a>
            </button>
            <button class="btn">
                <a href="/users/{{user._id}}/leases">Leases</a>
            </button>
            <button class="btn">
                <a href="/users/{{user._id}}/edit">Edit Account</a>
            </button>
        </div>
    </div>

    <div class="col l8 s12 container">


        <!-- 
            TRY THIS SHIT OUT BOI -->
        <div class="show-page-right">
            <button class="btn">
                <a href="/users">back to users</a>
            </button>
            <div class="parallax-container each-user-show-image">
                <div class="user-show-box">
                    <div class="user-show-box-text">
                        <a href="/users/{{user._id}}/properties">
                            <h5>View {{user.firstName}}'s Properties</h5>
                        </a>
                    </div>
                </div>
                <div class="parallax responsive-img user-show-image">
                    <img src="https://images.unsplash.com/photo-1464938769256-c01dc51fc983?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7fcb1fa168a66f1365124a349c69da5c&auto=format&fit=crop&w=800&q=60">
                </div>
            </div>

            <div class="parallax-container">
                <div class="user-show-box">
                    <div class="user-show-box-text">
                        <a href="/users/{{user._id}}/leases">
                            <h5>View {{user.firstName}}'s Leases</h5>
                        </a>
                    </div>
                </div>
                <div class="parallax responsive-img user-show-image">
                    <img src="https://images.unsplash.com/photo-1466171488221-e15f4c40e9e4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ef6e3c039b9b927a440c9ec38c65fcae&auto=format&fit=crop&w=800&q=60">
                </div>
            </div>

            <h6>About {{user.firstName}} {{user.lastName}}</h6>

            <p>{{user.about}}</p>

        </div>

        <!-- STOP TRYING THIS SHIT OUT BOI -->


    </div>
</div>


{{!-- --}}